<div class="panel panel-default" ui-sref="room-view({roomId: room.id})" role="button">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a ui-sref="room-view({roomId: room.id})">{{ room.name }}</a>
        </h3>
    </div>
    <div class="panel-body" style="height: 70px">
        <div class="row" ng-if="room.live_data">
            <div class="col-xs-12">
                <!-- Temperature -->
                <span ng-show="room.live_data.temperature != null && room.has_temperature">
                    {{ room.live_data.temperature }} °C

                    <span ng-show="room.live_data.temperature < room.average_last_hour.temperature"
                          title="Down by {{ (room.average_last_hour.temperature - room.live_data.temperature) | number: 1 }} °C within the last hour"
                          class="fa fa-arrow-down"></span>
                    <span ng-show="room.live_data.temperature > room.average_last_hour.temperature"
                          title="Up by {{ (room.live_data.temperature - room.average_last_hour.temperature) | number: 1 }} °C within the last hour"
                          class="fa fa-arrow-up"></span>
                    &nbsp;
                </span>

                <!-- Humidity -->
                <span ng-show="room.live_data.humidity != null && room.has_humidity">
                    {{  room.live_data.humidity }} % rH

                    <span ng-show="room.live_data.humidity < room.average_last_hour.humidity"
                          title="Down by {{ (room.average_last_hour.temperature - room.live_data.temperature) | number: 0 }} % within the last hour"
                          class="fa fa-arrow-down"></span>
                    <span ng-show="room.live_data.humidity > room.average_last_hour.humidity"
                          title="Up by {{ (room.live_data.temperature - room.average_last_hour.temperature) | number: 0 }} % within the last hour"
                          class="fa fa-arrow-up"></span>
                </span>
                <span ng-show="room.live_data.air_pressure != null && room.has_air_pressure">
                    {{ room.live_data.air_pressure }} PA
                </span>
                <i ng-show="room.live_data.battery == '1.0'" class="fa fa-battery-quarter" aria-hidden="true" title="Battery might be empty"></i>

            </div>
            <div class="col-xs-12 text-right" style="font-size: 8pt; color: #696969">
                Last updated: {{  room.live_data.created_at | date:'HH:mm dd-MM-yyyy' }}
            </div>
        </div>
        <div class="row" ng-if="!room.live_data">
            <div class="col-xs-12">
                Currently no live data available
            </div>
        </div>
    </div>
</div>